table {
  border-collapse: collapse;
}
th, td {
  border: solid 1px black;
}

.scrollable-list {
  overflow: auto;
  width: auto;
  height: auto;
  max-height: calc(100dvh - 30px);
}
.monster-detail-table {
  margin-left: 20px;
}
.attribute-list {
  width: 745px;
}
.attribute-list > tr > td {
  padding: 5px 0;
}
td > span {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (orientation: portrait) {
  .flex-attribute-wrap, .flex-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .scrollable-list {
    max-height: calc(100dvh - 535px);
  }
  .attribute-list {
    max-width: calc(100dvw - 16px);
  }
  .detail-table-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .monster-detail-table {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (orientation: landscape) {
  .attribute-list, .scrollable-list {
    max-width: calc(100dvw - 510px);
    max-width: calc(100dvw - 510px);
  }
  .flex-view {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
}