table {
  border-collapse: collapse;
}
th, td {
  border: solid 1px black;
}

.flex-view {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.scrollable-list {
  overflow-y: auto;
  height: auto;
  max-height: 500px;
}

td > span {
  display: flex;
  justify-content: space-evenly;
}