table {
  border-collapse: collapse;
}
th, td {
  border: solid 1px black;
}

.scrollable-list {
  overflow: auto;
  width: auto;
  height: auto;
  max-height: calc(100dvh - 30px);
}

td > span {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (orientation: portrait) {
  .scrollable-list {
    max-height: calc(100dvh - 510px);
  }
}

@media screen and (orientation: landscape) {
  .scrollable-list {
    max-width: calc(100dvw - 410px);
  }
  .flex-view {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
}